# Change the x-scale on certain identified files

I have a number of csv files that need to have their x-scale rescaled to ensure proper results.

These files are files 15, and 20-29. The first needs to have its scale readjusted to 0-50 MHz while the rest need to be adjusted to 0-6 MHz.

First step will be to load the files and then apply the rescaling.

In [3]:
# The file name is of the form: 05062018xx_csv_data.csv where xx is the number
# We can just search for files that fit in with a certain list of accepted endings:

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from scipy import stats
from scipy.signal import find_peaks
import os



adj_file_list = [15] + [i for i in range(20,30)]

org_files = []

for num in adj_file_list:
    for root, dirs, files in os.walk(".", topdown=True):
        for file in files:
            if file.startswith(str(num)+"_csv_data"):
                 org_files.append(os.path.join(root, file))

In [4]:
org_files

[]

First let's do the single 0-50 MHz rescaling:

In [3]:
df0 = pd.read_csv(org_files[0],header=None)
df0.tail(5)

             0          1
144  19.358297 -52.053985
145  19.524948 -52.304110
146  19.691598 -53.079499
147  19.824919 -53.729825
148  19.941574 -54.824123

In [4]:
df0[0] = df0[0]*(5/2)

In [5]:
df0.tail(5)

             0          1
144  48.395742 -52.053985
145  48.812369 -52.304110
146  49.228996 -53.079499
147  49.562297 -53.729825
148  49.853936 -54.824123

In [6]:
df0.to_csv(org_files[0],header=False,index=False)

Next we do the 0-6 MHz rescaling for the other files:

In [7]:
for f_name in org_files[1:]:
    df = pd.read_csv(f_name,header=None)
    df[0] = df[0]*(3/10)
    df.to_csv(f_name,header=False,index=False)